In [88]:
import pandas as pd
import numpy as np 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [89]:
df = pd.read_csv('auto-mpg.csv', header=None)

In [90]:
df

        0  1      2    3     4     5   6  7
0    18.0  8  307.0  130  3504  12.0  70  1
1    15.0  8  350.0  165  3693  11.5  70  1
2    18.0  8  318.0  150  3436  11.0  70  1
3    16.0  8  304.0  150  3433  12.0  70  1
4    17.0  8  302.0  140  3449  10.5  70  1
..    ... ..    ...  ...   ...   ...  .. ..
387  27.0  4  140.0   86  2790  15.6  82  1
388  44.0  4   97.0   52  2130  24.6  82  2
389  32.0  4  135.0   84  2295  11.6  82  1
390  28.0  4  120.0   79  2625  18.6  82  1
391  31.0  4  119.0   82  2720  19.4  82  1

[392 rows x 8 columns]

In [91]:
y = df[0]
df = df.drop(columns=[0])
df, y

(     1      2    3     4     5   6  7
 0    8  307.0  130  3504  12.0  70  1
 1    8  350.0  165  3693  11.5  70  1
 2    8  318.0  150  3436  11.0  70  1
 3    8  304.0  150  3433  12.0  70  1
 4    8  302.0  140  3449  10.5  70  1
 ..  ..    ...  ...   ...   ...  .. ..
 387  4  140.0   86  2790  15.6  82  1
 388  4   97.0   52  2130  24.6  82  2
 389  4  135.0   84  2295  11.6  82  1
 390  4  120.0   79  2625  18.6  82  1
 391  4  119.0   82  2720  19.4  82  1

 [392 rows x 7 columns],
 0      18.0
 1      15.0
 2      18.0
 3      16.0
 4      17.0
        ...
 387    27.0
 388    44.0
 389    32.0
 390    28.0
 391    31.0
 Name: 0, Length: 392, dtype: float64)

In [92]:
x_train, x_test, y_train, y_test = train_test_split(df,y,test_size=0.5, random_state=0)
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)

row = np.append(model.intercept_, model.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model.score(x_test,y_test))
cols = ['intercept', 'coef_1', 'coef_2','coef_3', 'coef_4', 'coef_5','coef_6', 'coef_7', 'MSE', 'R2']
results = pd.DataFrame([row], columns=  cols, index = ['MLR'])
results

,intercept,coef_1,coef_2,coef_3,coef_4,coef_5,coef_6,coef_7,MSE,R2
MLR,-21.557869,-0.121868,0.013191,-0.01187,-0.006415,0.1769,0.77122,1.347192,10.647454,0.821206

In [93]:
scaler = StandardScaler()
scaled = scaler.fit_transform(df)
df2 = pd.DataFrame(scaled)
df2

            0         1         2         3         4         5         6
0    1.483947  1.077290  0.664133  0.620540 -1.285258 -1.625315 -0.716641
1    1.483947  1.488732  1.574594  0.843334 -1.466724 -1.625315 -0.716641
2    1.483947  1.182542  1.184397  0.540382 -1.648189 -1.625315 -0.716641
3    1.483947  1.048584  1.184397  0.536845 -1.285258 -1.625315 -0.716641
4    1.483947  1.029447  0.924265  0.555706 -1.829655 -1.625315 -0.716641
..        ...       ...       ...       ...       ...       ...       ...
387 -0.864014 -0.520637 -0.480448 -0.221125  0.021294  1.636410 -0.716641
388 -0.864014 -0.932079 -1.364896 -0.999134  3.287676  1.636410  0.526382
389 -0.864014 -0.568479 -0.532474 -0.804632 -1.430430  1.636410 -0.716641
390 -0.864014 -0.712005 -0.662540 -0.415627  1.110088  1.636410 -0.716641
391 -0.864014 -0.721574 -0.584501 -0.303641  1.400433  1.636410 -0.716641

[392 rows x 7 columns]

In [94]:
x_train, x_test, y_train, y_test = train_test_split(df2,y,test_size=0.5, random_state=0)
model1 = linear_model.LinearRegression()
model1.fit(x_train,y_train)
y_pred1 = model1.predict(x_test)

row = np.append(model1.intercept_, model1.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred1))
row = np.append(row, model1.score(x_test,y_test))
MLR_SS_results = pd.DataFrame([row], columns = cols, index=['MLR_SS'])
results = pd.concat([results, MLR_SS_results]).round(3)
results

,intercept,coef_1,coef_2,coef_3,coef_4,coef_5,coef_6,coef_7,MSE,R2
MLR,-21.558,-0.122,0.013,-0.012,-0.006,0.177,0.771,1.347,10.647,0.821
MLR_SS,23.468,-0.208,1.379,-0.456,-5.442,0.487,2.837,1.084,10.647,0.821

In [95]:
MMS = MinMaxScaler()
scaled_MMS = MMS.fit_transform(df)
df3 = pd.DataFrame(scaled_MMS)
df3

       0         1         2         3         4    5    6
0    1.0  0.617571  0.456522  0.536150  0.238095  0.0  0.0
1    1.0  0.728682  0.646739  0.589736  0.208333  0.0  0.0
2    1.0  0.645995  0.565217  0.516870  0.178571  0.0  0.0
3    1.0  0.609819  0.565217  0.516019  0.238095  0.0  0.0
4    1.0  0.604651  0.510870  0.520556  0.148810  0.0  0.0
..   ...       ...       ...       ...       ...  ...  ...
387  0.2  0.186047  0.217391  0.333711  0.452381  1.0  0.0
388  0.2  0.074935  0.032609  0.146583  0.988095  1.0  0.5
389  0.2  0.173127  0.206522  0.193365  0.214286  1.0  0.0
390  0.2  0.134367  0.179348  0.286929  0.630952  1.0  0.0
391  0.2  0.131783  0.195652  0.313864  0.678571  1.0  0.0

[392 rows x 7 columns]

In [96]:
x_train, x_test, y_train, y_test = train_test_split(df3,y,test_size=0.5, random_state=0)
model2 = linear_model.LinearRegression()
model2.fit(x_train,y_train)
y_pred = model2.predict(x_test)

row = np.append(model2.intercept_, model2.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model2.score(x_test,y_test))
MLR_MMS_results = pd.DataFrame([row], columns = cols, index=['MLR_MMS'])
results = pd.concat([results, MLR_MMS_results]).round(3)

In [97]:
model3 = linear_model.Ridge(alpha=0.1)
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)

row = np.append(model3.intercept_, model3.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model3.score(x_test,y_test))
Ridge_MMS_results = pd.DataFrame([row], columns = cols, index=['Ridge_MMS_0.1'])
results = pd.concat([results, Ridge_MMS_results]).round(3)

In [98]:
model3 = linear_model.Ridge(alpha=0.5)
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)

row = np.append(model3.intercept_, model3.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model3.score(x_test,y_test))
Ridge_MMS_results = pd.DataFrame([row], columns = cols, index=['Ridge_MMS_0.5'])
results = pd.concat([results, Ridge_MMS_results]).round(3)

In [99]:
model3 = linear_model.Ridge(alpha=1.0)
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)

row = np.append(model3.intercept_, model3.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model3.score(x_test,y_test))
Ridge_MMS_results = pd.DataFrame([row], columns = cols, index=['Ridge_MMS_1.0'])
results = pd.concat([results, Ridge_MMS_results]).round(3)

In [100]:
model3 = linear_model.Ridge(alpha=5.0)
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)

row = np.append(model3.intercept_, model3.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model3.score(x_test,y_test))
Ridge_MMS_results = pd.DataFrame([row], columns = cols, index=['Ridge_MMS_5.0'])
results = pd.concat([results, Ridge_MMS_results]).round(3)

In [101]:
model3 = linear_model.RidgeCV(alphas=[0.01, 0.1, 0.2, 0.3, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4])
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)
print("Selected alpha = %.2f" % model3.alpha_)

row = np.append(model3.intercept_, model3.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model3.score(x_test,y_test))
Ridge_MMS_results = pd.DataFrame([row], columns = cols, index=['Ridge_MMS_Selected'])
results = pd.concat([results, Ridge_MMS_results]).round(3)

Selected alpha = 0.20

In [102]:
model4 = linear_model.Lasso(alpha=0.1)
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)

row = np.append(model4.intercept_, model4.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model4.score(x_test,y_test))
Lasso_MMS_results = pd.DataFrame([row], columns = cols, index=['Lasso_MMS_0.1'])
results = pd.concat([results, Lasso_MMS_results]).round(3)

In [103]:
model4 = linear_model.Lasso(alpha=0.5)
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)

row = np.append(model4.intercept_, model4.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model4.score(x_test,y_test))
Lasso_MMS_results = pd.DataFrame([row], columns = cols, index=['Lasso_MMS_0.5'])
results = pd.concat([results, Lasso_MMS_results]).round(3)

In [104]:
model4 = linear_model.Lasso(alpha=1.0)
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)

row = np.append(model4.intercept_, model4.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model4.score(x_test,y_test))
Lasso_MMS_results = pd.DataFrame([row], columns = cols, index=['Lasso_MMS_1.0'])
results = pd.concat([results, Lasso_MMS_results]).round(3)

In [105]:
model4 = linear_model.Lasso(alpha=1.5)
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)

row = np.append(model4.intercept_, model4.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model4.score(x_test,y_test))
Lasso_MMS_results = pd.DataFrame([row], columns = cols, index=['Lasso_MMS_1.5'])
results = pd.concat([results, Lasso_MMS_results]).round(3)

In [106]:
model4 = linear_model.LassoCV(cv=5, alphas=[0.01, 0.02, 0.05, 0.1, 0.3, 0.5, 1.0, 1.2, 1.4])
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)
print("Selected alpha = %.2f" % model4.alpha_)

row = np.append(model4.intercept_, model4.coef_)
row = np.append(row, mean_squared_error(y_test,y_pred))
row = np.append(row, model4.score(x_test,y_test))
Lasso_MMS_results = pd.DataFrame([row], columns = cols, index=['Lasso_MMS_Selected'])
results = pd.concat([results, Lasso_MMS_results]).round(3)
results

Selected alpha = 0.02

,intercept,coef_1,coef_2,coef_3,coef_4,coef_5,coef_6,coef_7,MSE,R2
MLR,-21.558,-0.122,0.013,-0.012,-0.006,0.177,0.771,1.347,10.647,0.821
MLR_SS,23.468,-0.208,1.379,-0.456,-5.442,0.487,2.837,1.084,10.647,0.821
MLR_MMS,24.827,-0.609,5.105,-2.184,-22.627,2.972,9.255,2.694,10.647,0.821
Ridge_MMS_0.1,25.052,-0.457,3.462,-2.664,-20.786,2.384,9.152,2.665,10.698,0.820
Ridge_MMS_0.5,25.508,-0.684,0.253,-3.701,-16.307,1.181,8.848,2.631,10.924,0.817
Ridge_MMS_1.0,25.678,-1.268,-1.320,-4.117,-13.394,0.669,8.572,2.635,11.167,0.812
Ridge_MMS_5.0,25.572,-3.360,-3.426,-3.921,-7.159,0.664,7.181,2.751,12.332,0.793
Ridge_MMS_Selected,25.218,-0.439,2.306,-3.033,-19.332,1.952,9.064,2.648,10.755,0.819
Lasso_MMS_0.1,26.167,-0.904,-0.000,-0.928,-17.787,0.000,8.621,2.132,10.860,0.818
Lasso_MMS_0.5,26.084,-6.889,-0.000,-0.000,-6.050,0.000,5.382,1.439,16.485,0.723
Lasso_MMS_1.0,27.126,-8.696,-0.000,-0.000,-0.000,0.000,1.154,0.133,29.936,0.497
Lasso_MMS_1.5,25.896,-4.898,-0.000,-0.000,-0.000,0.000,0.000,0.000,42.185,0.292
Lasso_MMS_Selected,25.307,-0.000,0.000,-0.785,-19.570,1.759,9.097,2.262,10.801,0.819