# Data Science Tools and Ecosystem

## Author:
Che-Kuan Yu


In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- the popular languages that Data Scientists
- commonly used libraries used by Data Scientists
- Introduction to R and RStudio and Git
- Introduction to Jupyter Notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NumPy (Python)
3. ggpot2 (R)
4. dplyr (R)


| Data Science Tools |
| --- |
| RStudio |
| TensorFlow |
| Jupyter Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = 200/60
print(f'200 minutes = {h} hours')

200 minutes = 3.3333333333333335 hours

In [4]:
print("123123123")

123123123

In [ ]:
print("456456")